body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
ul,
p {
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

.header-bg {
    background-color: #000;
}

.header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto;
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.header-menu a {
    padding: 16px 0px;
    display: inline block;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 4px;
    position: relative;
    font-family: "Poppins";
    font-weight: 400;

}

.header-menu a:after {
    content: " ";
    display: block;
    height: 2px;
    width: 0px;
    background-color: #fff;
    position: absolute;
    margin-top: 4px;
    transition: 0.3s;
}

.header-menu a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-menu a {
        background-color: #111;
        padding: 12px 16px;
    }

    .header-menu a:hover {
        background-color: #2e2e2e;
    }

    .header-menu {
        gap: 20px;
    }

    .header a::after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 12px;

    }

    .header-menu a {
        background-color: #111;
        padding: 8px 12px;
        font-size: 0.9rem;
    }

    .header-menu a:hover {
        background-color: #2e2e2e;
    }

    .header a::after {
        display: none;
    }
}

/*INICIO DA INTRODUÇÃO*/
.introducao-bg {
    background-color: #000;
    color: #fff;
    box-shadow:  inset 0 -120px  #fff;

}

.introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
    padding: 0px 20px;

}
.introducao img{
    object-fit: cover;
    height:100%;
    border-radius: 4px;
    
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 200px;
}

.introducao-conteudo h1 {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 1.125;
    font-family: "Poppins";
    font-weight: 600;
}

.introducao-conteudo p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    color: #b2b2b2;
    font-family: "Roboto";
    font-weight: 400;
}

h1 span {
    color: #ffbb00;

}
.introducao a{
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#ffbb00 0%, #f2a50c 100%);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #332200;
    font-size: 18px;
    line-height: 1.33;
    font-family: "Poppins";
    font-weight: 600;
}
.introducao a:hover{
    background: linear-gradient(#ffb60d 0%, #e59317 100%);

}
@media(max-width: 1200px){
.introducao h1{
    font-size: 48px;
}
.introducao p{
    font-size: 18px;
}

}
@media(max-width: 800px){
    .introducao{
        grid-template-columns: 1fr;
        gap: 32px;
        
    }
    .introducao-bg{
        background-color: #111;
        padding-top: 40px;
        box-shadow: inset 0 -60px #fff;
    }
    .introducao h1{
        font-size: 32px;
        margin-bottom: 16px;
    }
    .introducao img{
      height: 300px;
      width: 100%;
    }
    .introducao-conteudo{
        padding-bottom: 0px;
     
    }
    
}
@media(max-width: 600px){
    .introducao a{
        padding: 12px 16px;
        font-size: 16px;
    }
}






body{
padding-bottom: 600px;
}