.biciletas-bg {
    background-color: var(--cor-11);
    padding: 50px 0px;
 
}

.nimbus-bg {
    background-color: var(--cor-0);
    padding: 10px;

}

.magic-bg {
    padding: 10px;
    background-color: var(--cor-11);
    box-shadow: inset 500px 0 #fff;
    border-radius: 4px;
}

.bicicleta-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 40px 0;
}

.bicicleta-content-desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;

}

.bicicleta-content-desc h2 {
    grid-column: 1 / -1;
}

.bicicleta-content-desc h2::before {
    content: " ";
    height: 8px;
    width: 12px;
    background-color: var(--cor-p1);
    display: block;
    margin-bottom: 8px;
}

.bicicleta-content-desc p {
    grid-column: 1 / -1;
    margin: 20px 0px;
}

.bicicleta-content-desc ul {
    grid-row: 5;
    align-self: flex-end;

}

.bicicleta-content-desc li {
    margin-bottom: 15px;
    display: flex;
}

.bicicleta-content-desc img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}


.bicicleta-content-desc a {
    grid-column: 2;
    grid-row: 5;
    align-self: end;
    justify-self: end;
    margin-bottom: 20px;

}

.bicicleta-content-desc a::after {
    content: " ";
    background-image: url(./../../img/icones/seta.svg);
    width: 18px;
    height: 10px;
    display: inline-block;
    margin-left: 8px;

}

.bicicleta-img {
    display: grid;

}

.bicicleta-img img {
    grid-area: 1 / 1;
}

.bicicleta-img span {
    align-self: flex-end;
    place-self: start end;
    grid-area: 1 / 1;
    margin-top: 20px;
    background-color: var(--cor-12);
    color: var(--cor-4);
    padding: 10px;
    border-radius: 4px;
}

/*solução alternativa para o position absolute*/
.copy {
    margin-top: 60px;
    display: block;
}

@media(max-width: 800px) {
    .biciletas-bg {
        padding: 30px 0px;
    }

    .bicicleta-content {
        grid-template-columns: 1fr;
        padding: 10px 0;
    }

    .nimbus-bg,
    .magic-bg {
        padding: 20px 20px;
        box-shadow: inherit;
    }
}

@media(max-width: 600px) {
    .biciletas-bg {
        padding: 30px 0px;
    }

    .bicicleta-content {
        grid-template-columns: 1fr;
    }

    .bicicleta-content-desc {
        grid-template-columns: 1fr auto;
    }

    .bicicleta-content-desc ul {
        font-size: 1rem;
        grid-column: 1 / -1;
    }

    .bicicleta-content-desc a {
        grid-row: 6;

    }
}