.tecnologia-bg {
    background-color: var(--cor-11);
    color: #fff;
    box-shadow: inset 0 130px var(--cor-0), inset 0 -130px var(--cor-0);
    padding-top: 40px;
    padding-bottom: 30px;
   


}
#bicicleta .tecnologia-bg{
    box-shadow:inset 0 130px var(--cor-0),inset  0 -130px var(--cor-12);
}

.tecnologia-conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 60px;
    

}

.tecnologia-conteudo-area {
    padding-top: 160px;
    margin-bottom: 160px;
    

}

.tecnologia-conteudo-img img {
    object-fit: cover;
    height: 100%;

}

.tecnologia-conteudo-area h2,
h1,
p {
    margin-bottom: 30px;
}

.link {
    display: inline-block;
    font: 500 1.5rem / 1.5 "Poppins", sans-serif;
    color: var(--cor-p1);
    text-transform: uppercase;
    position: relative;
    padding-bottom: 8px;
}


.link:hover {
    color: var(--cor-0);
}

.link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: currentColor;
    position: absolute;
    margin-top: 4px;
}

.icone {
    margin-top: 60px;
    gap: 30px;
    display: flex;
    

}

.icone img {
    width: 25px;

}

.icone h3,
p {
    margin-top: 10px;
    margin-bottom: 20px;
}


@media(max-width: 800px) {
    .icone{
       
        flex-wrap: wrap;
    }

    .tecnologia-conteudo {
        grid-template-columns: 1fr;
    }

    .tecnologia-conteudo-img {
        display: none;
    }
    #bicicleta .tecnologia-conteudo-img {
        display: flex;
    }

    .tecnologia-bg, #bicicleta .tecnologia-bg {
        box-shadow: initial;
    }

    .tecnologia-conteudo-area {
        padding-top: 40px;
        margin-bottom: 40px;

    }
   
    
}
@media(max-width: 600px){
    .icone{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .link{
        font-size: 1.2rem;
    }
    .tecnologia-conteudo-area {
        padding-top: px;
        margin-bottom: 20px;

    }
}