.perguntas-bg {
    background-color: var(--cor-0);
    margin: 80px 0;

}

.perguntas-conteudo h1 {
    margin-bottom: 60px;
}

.perguntas-conteudo div:nth-child(odd) {
    background-color: var(--cor-1);

}

.perguntas-conteudo dt {
    font: 600 1.25rem/1.55 "Poppins", sans-serif;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;

}

.perguntas-conteudo dl div {
    padding: 30px 10px;

}

.perguntas-conteudo dd {
    max-width: 80ch;
    padding-top: 15px;
    color: var(--cor-9);   
}

.perguntas-conteudo dt::before {
    content: " ";
    height: 8px;
    width: 12px;
    background-color: var(--cor-p1);
    margin-right: 8px;
}

.perguntas-conteudo dt::after {
    content: " ";
    background-image: url("./../../img/icones/seta-abrir.svg");
    width: 12px;
    height: 8px;
    padding-right: 8px;
    background-repeat: no-repeat;
}
/*
.perguntas-conteudo dt::after{
   transform: rotate(180deg);
}
*/
@media(max-width: 800px){
    .perguntas-bg {
        background-color: var(--cor-0);
        margin: 60px 0;
    
    }
}
@media(max-width: 600px){
    .perguntas-bg {
        background-color: var(--cor-0);
        margin: 50px 0;
    
    }
}