#orcamento {
  background: linear-gradient(var(--cor-11) 600px, var(--cor-1) 0%);

}

.orcamento {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

#orcamento h2::before {
  content: " ";
  width: 4px;
  height: 8px;
  background-color: var(--cor-p1);
  display: inline-block;
  position: absolute;
  left: -12px;
}

#orcamento h2 {
  position: relative;
  display: flex;
  align-items: center;
}

.orcamento-produto,
.orcamento-dados {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.orcamento-produto {
  background-color: var(--cor-12);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 10px;
}

.orcamento-produto>* {
  grid-column: 1 / -1;
}

.orcamento-dados {
  background-color: var(--cor-0);
}

.orcamento-produto label {
  background-color: var(--cor-10);
  color: var(--cor-0);
  padding: 15px 20px;
  
  display: block;
  margin: 20px 0;
  grid-column: initial;
  font: 500 1rem / 1.5 "Poppins", sans-serif;
  border-radius: 6px;
  
}

.orcamento-conteudo {
  padding: 20px;
  margin: 20px 0;
  display: none;
}

#bikcraft:checked~#orcamento-bikcraft {
  display: block;
}

#seguro:checked~#orcamento-seguro {
  display: block;

}

[type="radio"]:checked + label::before {
  border: 1px solid var(--cor-7);
  box-shadow: inset 0 0 0 3px var(--cor-0), inset 0 0 0 6px var(--cor-7);
}
[type="radio"] + label::before {
  box-sizing: border-box;
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--cor-6);
  border-radius: 50%;
  margin-right: 8px;
}
[type="radio"] + label{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
[type="radio"] + label span{
  display: inline-block;
}

[type="radio"]:checked + label + .radio-detalhes {
  display: grid;
  
}
.radio-detalhes {
  display: none;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-0);
  padding: 20px;
  border-radius: 4px;
}

.radio-detalhes ul img {
  width: 20px;
  height: 20px;


}

.radio-detalhes ul li {
  display: flex;
  gap: 5px;
}

[type="radio"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}
[type="radio"]:checked + label {
  background: var(--cor-0);
  border-color: var(--cor-0);
  color: var(--cor-11);
}
@media(max-width:600px){
  .orcamento{
    grid-template-columns: 1fr;
  }
  .orcamento-produto{
  padding-bottom: 30px;
  }
}